@keyframes card_1_prev {
    from {
        opacity: 0;
        left: 15vw;
        transform: perspective(100vw) translateZ(0) rotateY(90deg) translateX(5vw);
    }
    to {
        opacity: 1;
        left: 15vw;
        transform: perspective(100vw) translateZ(0) rotateY(30deg) translateX(5vw);
    }
}

@keyframes card_2_prev {
    from {
        left: 15vw;
        transform: perspective(100vw) translateZ(0) rotateY(30deg) translateX(5vw);
        filter: brightness(0.7);
        z-index: 1;
    }
    to {
        left: 50%;
        transform: perspective(100vw) translateZ(5vw) rotateY(0deg) translateX(-50%);
        filter: brightness(1);
        z-index: 20;
    }
}

@keyframes card_3_prev {
    from {
        left: 50%;
        transform: perspective(100vw) translateZ(5vw) rotateY(0deg) translateX(-50%);
        filter: brightness(1);
        z-index: 10;
    }
    to {
        left: 60vw;
        transform: perspective(100vw) translateZ(0) rotateY(-30deg) translateX(-5vw);
        filter: brightness(0.7);
        z-index: 1;
    }
}

@keyframes card_4_prev {
    from {
        opacity: 1;
        left: 60vw;
        transform: perspective(100vw) translateZ(0) rotateY(-30deg) translateX(-5vw);
    }
    to {
        opacity: 0;
        left: 60vw;
        transform: perspective(100vw) translateZ(0) rotateY(-90deg) translateX(-5vw);
    }
}

@keyframes card_2_next {
    from {
        opacity: 1;
        left: 15vw;
        transform: perspective(100vw) translateZ(0) rotateY(30deg) translateX(5vw);
    }
    to {
        opacity: 0;
        left: 15vw;
        transform: perspective(100vw) translateZ(0) rotateY(90deg) translateX(5vw);
    }
}

@keyframes card_3_next {
    from {
        left: 50%;
        transform: perspective(100vw) translateZ(5vw) rotateY(0deg) translateX(-50%);
        filter: brightness(1);
        z-index: 20;
    }
    to {
        left: 15vw;
        transform: perspective(100vw) translateZ(0) rotateY(30deg) translateX(5vw);
        filter: brightness(0.7);
        z-index: 1;
    }
}

@keyframes card_4_next {
    from {
        left: 60vw;
        transform: perspective(100vw) translateZ(0) rotateY(-30deg) translateX(-5vw);
        filter: brightness(0.7);
        z-index: 1;
    }
    to {
        left: 50%;
        transform: perspective(100vw) translateZ(5vw) rotateY(0deg) translateX(-50%);
        filter: brightness(1);
        z-index: 10;
    }
}

@keyframes card_5_next {
    from {
        opacity: 0;
        left: 60vw;
        transform: perspective(100vw) translateZ(0) rotateY(-90deg) translateX(-5vw);
    }
    to {
        opacity: 1;
        left: 60vw;
        transform: perspective(100vw) translateZ(0) rotateY(-30deg) translateX(-5vw);
    }
}

.card {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  opacity: 1;
  animation-duration: 3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.card:not(.card_3) {
    filter: brightness(0.7);
    z-index: 1;
    cursor: pointer;
    transition: filter 0.2s ease;
}

.card:not(.card_3):hover {
    filter: brightness(0.8);
}

.card_1 {
    opacity: 0;
    left: 15vw;
    transform: perspective(100vw) translateZ(0) rotateY(90deg) translateX(5vw);
}

.card_2 {
    left: 15vw;
    transform: perspective(100vw) translateZ(0) rotateY(30deg) translateX(5vw);
}

.card_3 {
    left: 50%;
    transform: perspective(100vw) translateZ(5vw) rotateY(0deg) translateX(-50%);
    filter: brightness(1);
    z-index: 10;
}

.card_4 {
    left: 60vw;
    transform: perspective(100vw) translateZ(0) rotateY(-30deg) translateX(-5vw);
}

.card_5 {
    opacity: 0;
    left: 60vw;
    transform: perspective(100vw) translateZ(0) rotateY(-90deg) translateX(-5vw);
}

.card_1_next { animation-name: card_1_next; }
.card_2_next { animation-name: card_2_next; }
.card_3_next { animation-name: card_3_next; }
.card_4_next { animation-name: card_4_next; }
.card_5_next { animation-name: card_5_next; }

.card_1_prev { animation-name: card_1_prev; }
.card_2_prev { animation-name: card_2_prev; }
.card_3_prev { animation-name: card_3_prev; }
.card_4_prev { animation-name: card_4_prev; }
.card_5_prev { animation-name: card_5_prev; }